{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Muhamad Nur Faiz Habibullah</title>
    {% include 'partial/source.html' %}
</head>

<body>
    <header>
        {% include 'partial/header.html' %}
    </header>
    <content>
        {% block content %}
        <!-- content goes here -->
        {% endblock %}
    </content>
</body>

</html>