{% load static %}
{% block header %}
    <nav class="navbar navbar-expand-sm navbar-dark fixed-top">
        <a class="navbar-brand" href="#home"><img src="{% static 'ez.png' %}" width="30px"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'about' %}">About me</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'education' %}"> Education </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#activity"> Activity </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#contact"> Contact </a>
                </li>
                <li class="nav-item">
                        <a class="nav-link" href="{% url 'daftar-kegiatan' %}"> Kegiatan </a>
                    </li>
            </ul>
        </div>
    </nav>
{% endblock %}