.body {
    font: 400 15px Lato, sans-serif;
    line-height: 1.8;
    color: black;
}

.p {
    font-size: 0px;
}

.margin {
    margin-bottom: 30px;
}

.jumbotron {
    background-image: url("https://wallpaper.wiki/wp-content/uploads/2017/05/Nature-Background-HD.jpg");
    color: #fff;
    padding: 100px 25px;
    font-family: Montserrat, sans-serif;
}

.container-fluid1 {
    padding-top: 5%;
    padding-right: 5%;
    padding-left: 5%;
    padding-bottom: 5%;
    background-image: url("https://juegosrev.com/wp-content/uploads/2017/05/B1-WALL_11468.jpg");
}

.container-fluid2 {
    padding-top: 5%;
    padding-right: 5%;
    padding-left: 5%;
    padding-bottom: 5%;
    background-color: azure;
}

.container-fluid3{
    padding-top: 5%;
    padding-right: 5%;
    padding-left: 5%;
    padding-bottom: 5%;
    background-image: url("https://i0.wp.com/rg.mw/wp-content/uploads/2017/12/minimalistic-white-fog-silver-digital-art-white-background-HD-Wallpapers.jpg?fit=1920%2C1080");
}
.container-fluid4{
    padding-top: 5%;
    padding-right: 5%;
    padding-left: 5%;
    padding-bottom: 5%;
    background-color: whitesmoke;
}
.navbar {
    margin-bottom: 0;
    background-image: url("https://wallpaper.wiki/wp-content/uploads/2017/05/Nature-Background-HD.jpg");
    z-index: 9999;
    border: 0;
    font-size: 12px !important;
    line-height: 1.42857143 !important;
    letter-spacing: 4px;
    border-radius: 0;
    font-family: Montserrat, sans-serif;
}

.navbar li a, .navbar .navbar-brand {
    color: #fff !important;
}

.navbar-nav li a:hover, .navbar-nav li.active a {
    color: #f4511e !important;
    background-color: #fff !important;
}

.navbar-default .navbar-toggle {
    border-color: transparent;
    color: #fff !important;
}

footer .glyphicon {
    font-size: 20px;
    margin-bottom: 20px;
    color: #f4511e;
}
.form-label {
    color: white;
}