<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ name }}</title>
</head>
<body>
    
    <h1>Hello my name is {{ name }}</h1>
    <img src="http://www.about.tarung2017.com/foto/528.jpg" width="300" height="200">
    <article>NPM : {{ npm }}</article>
    <article>I am {{ age }} years old</article>
    <article> hobi : {{hoby}} </article>

    <h1>temen sebelah kanan saya</h1>
    <h2>Nama : {{ Rname }} </h2>
    <img src= http://www.about.tarung2017.com/foto/510.jpg width="300" height="200">
    <article>NPM : {{ Rnpm }}</article>
    <article>I am {{ Rage }} years old</article>
    <article> hobi : {{Rhoby}} </article>

    <h1>temen sebelah kiri saya</h1>
    <h2>Nama : {{ Lname }} </h2>
    <img src= "http://www.about.tarung2017.com/foto/426.jpg" width="300" height="200">
    <article>NPM : {{ Lnpm }}</article>
    <article>I am {{ Lage }} years old</article>
    <article> hobi : {{Lhoby}} </article>
</body>
</html>
