{% extends "layout/base.html" %}   

{% load static %}

{% block content %}

<div class="jumbotron text-center" style="margin-bottom:0">
    <h1>Welcome To My Website</h1>
    <a href="{% url 'guest-book' %}" class="btn btn-info btn-lg" role="button">Guest Book</a>
</div>


<!-- First Container -->
<div class="container-fluid1 text-center" id="me">
    <h1 class="margin">About Me</h1>
    <h2 class="margin">Muhammad Nur <br>Faiz Habibullah</h2>
    <h4 class="margin">Banda Aceh, 07 Juli 1999</h4>
    <img src="http://bem.cs.ui.ac.id/staf/assets/2018/img/photo/1706043456.jpg" class="img-fluid margin" alt="Image"
        width=50%>
</div>
<div class="container-fluid4 text-center" id="contact">
        <h1 class=margin> contact </h1>
        <div class=row>
            <div class="col-sm-4">
                <div>
                    <a href="https://www.instagram.com/nur_faizh/"><img src=http://pngimg.com/uploads/instagram/instagram_PNG12.png
                            class="img-fluid margin" style="width:20%" alt="Image"></a>
                </div>
                <div>
                    <a href="http://line.me/ti/p/~nur_faizh"><img src=https://png.icons8.com/color/1600/line-me.png
                            class="img-fluid margin" style="width:20%" alt="Image"></a>
                </div>

                <div>
                    <a href="https://www.linkedin.com/in/muhammad-nur-faiz-h-252721110/"><img src=https://cdn1.iconfinder.com/data/icons/logotypes/32/square-linkedin-512.png
                            class="img-fluid margin" style="width:14%" alt="Image"></a>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}