{% extends "layout/base.html" %}

{% load static %}
{%block content%}

<body class="container-fluid2 text-center">
    <h1 class=margin> Jadwal Kegiatan </h1>
    {% if all_kegiatan %}
    <table class="table" style="text-align:center">
        <thead>
            <tr>
                <th scope="col">Nama Kegiatan</th>
                <th scope="col">Tempat Kegiatan</th>
                <th scope="col">kategori</th>
                <th scope="col">Waktu Kegiatan</th>
            </tr>
        </thead>
        {% for kegiatan in all_kegiatan %}
        <tr>
            <td scope="row">{{kegiatan.nama_kegiatan}}</td>
            <td scope="row">{{kegiatan.tempat_kegiatan}}</td>
            <td scope="row">{{kegiatan.kategori_kegiatan}}</td>
            <td scope="row">{{kegiatan.waktu_kegiatan}}</td>
        </tr>
        {% endfor %}
    </table>
    {% else %}
    <h3 class="text-main" style="text-align: center;">Belum ada kegiatan</h3>
    {% endif %}
    <div>
        <a href="{% url 'hapus-kegiatan' %}" class="btn btn-info btn-lg" role="button" style="text-align: center">Delete</a>
        <a href="{% url 'form-kegiatan' %}" class="btn btn-info btn-lg" role="button" style="text-align: center">Tambah</a>
    </div>

</body>
{% endblock content %}