{% extends 'layout/base.html'%}
{% load static%}
{% block content %}
<!-- Second Container (Grid) -->
<div class="container-fluid2 text-center">
    <h1 class="margin">My Education</h1>
    <div class="row">
        <div class="col-sm-6" style='text-align: center'>
            <img src="https://lh3.googleusercontent.com/-PJQ9e_ztVxQ/VSIILG4OK7I/AAAAAAAAAB8/_gTW4WCgwIs/w530-h535-n/Logo%2BCordova.jpg"
                class="img-fluid rounded-circle margin" style="width:50%" alt="Image">
        </div>
        <div class='col-sm-6'>
            <h3>SDIT <br> Cordova </h3>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6" style='text-align: center'>
            <img src="http://assets.darulquran.sch.id/img/logo-dq.png" class="img-fluid margin" style="width:50%" alt="Image">
        </div>
        <div class='col-sm-6'>
            <h3>SMPIT <br> Darul Quran Mulia</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6" style='text-align: center'>
            <img src="http://2.bp.blogspot.com/-IHQbaUHZVuo/UrhBqzVofaI/AAAAAAAAAGM/8Ss9ZMdI-Nw/s1600/logo%2Bcmbbs.png"
                class="img-fluid rounded-circle margin" style="width:50%" alt="Image">
        </div>
        <div class='col-sm-6'>
            <h3>SMAN Cahaya Madani <br> Banten Boarding School</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6" style='text-align: center'>
            <img src="https://upload.wikimedia.org/wikipedia/id/thumb/e/e9/UI_Logo.svg/1024px-UI_Logo.svg.png" class="img-fluid margin"
                style="width:50%" alt="Image">
        </div>
        <div class='col-sm-6'>
            <h3>University Of Indonesia <br> Faculty of Computer Science</h3>
        </div>
    </div>
</div>
{% endblock content %}