{% extends "layout/base.html" %}
{% load static %}
{% block content %}
<body name = "form" class = "container-fluid2">
    <h2> Tambah Jadwal </h2>
    <form id = "form" method = "POST" action="{% url 'form-kegiatan' %}">
        {% csrf_token %}
        {{ form.as_p }}
        <br>
        <button type = "submit" class = "btn btn-default">Submit</button>
    </form>
</body>
{% endblock content %}
