{% extends "layout/base.html" %}
{% load static %}
{% block content %}

<head>
  <title>Guest-Book</title>
</head>

<body class="container-fluid2">
  <h2 class="text-center" style="color:white">Buku Tamu</h2>
  <form class="form-block">
    <div class="form-group">
      <label for="input-name" class="form-label">Nama Anda</label>
      <input class="form-control" id="input-name" placeholder="Masukkan nama Anda">
      <label for="input-date" class="form-label">Tanggal</label>
      <input class="form-control" id="input-date" type="date">
      <label for="input-email" class="form-label">Email Anda</label>
      <input class="form-control" id="input-email" aria-describedby="emailHelp" placeholder="Masukkan email Anda" type="email">
      <label for="input-subject" class="form-label">Subjek Pesan</label>
      <input class="form-control" id="input-subject" placeholder="Masukkan subjek pesan" type="text">
      <label for="input-message" class="form-label">Pesan Anda</label>
      <textarea class="form-control" id="input-message" type="textarea" placeholder="Masukkan pesan Anda"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Kirim Pesan</button>
  </form>
</body>

{% endblock content %}